parameters:
    autoload_directories:
        - src
    ignoreErrors:
        - '#Call to an undefined method UncleCheese\\DisplayLogic\\Criteria::*+#'
includes:
    - vendor/symbiote/silverstripe-phpstan/phpstan.neon
