parameters:
    autoload_directories:
        - src
        # - tests/php
    ignoreErrors:
        - '#Call to an undefined method UncleCheese\\DisplayLogic\\Criteria::*+#'
includes:
    - ../../symbiote/silverstripe-phpstan/phpstan.neon
